<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask SocketIO Example</title>
</head>
<body>
    <ul id="messages"></ul>
    <input id="message_input" autocomplete="off">
    <button onclick="sendMessage()">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(message) {
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(message));
            ul.appendChild(li);
        });

        function sendMessage() {
            var input = document.getElementById('message_input');
            var message = input.value;
            socket.emit('message', message);
            input.value = '';
        }
    </script>
</body>
</html>
